.header__logo:hover,
.header__ceil-item:hover {
   border: 1px solid white;
   border-radius: 2px;
   padding: 9.5px 4px;
}
.loc-item:hover {
    padding-left: 24.5px;
  }
.header__nav-item:hover {
   border: 1px solid white;
   padding: 4px 6px;
   border-radius: 2px;
}
.header__bottom-right:hover {
   border: 1px solid white;
   border-radius: 2px;
}
.add-to-cart:hover {
   background: #deb900;
   cursor: pointer;
}
.buy-now:hover {
   background: #FF8F00;
   cursor: pointer;
}


