* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}

body {
  font-family: 'Amazon Ember', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.header__ceil {
  height: 60px;
  background: #131921;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.header__ceil-right {
  padding: 0 12px;
  display: flex;
}
.header__logo {
  height: 50px;
  width: 110px;
  padding: 10px 5px;
 
  
}
/* .header__logo .logo-link  {
  position: absolute;
  margin: 0;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
} */

.header__ceil-item {
  padding: 10px 5px;
}
.loc-item {
  padding-left: 25px;
}
.header_location-item {
  height: 20px;
  background-image: url(../images/location-icon.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 22px;
  left: 160px;
  padding-left: 30px;
}
.header__small-row {
  display: block;
  margin-top: 2px;
  font-size: 12px;
  line-height: 12px;
  color: #cccccc;
}
.header__strong-row {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  color: #ffffff;
}
.loc-item {
  margin-left: 30px;
}
.header__search {
  flex-grow: 6;
  border: none;
  position: relative;
}
.header__serch-form {
  line-height: 50px;
}
.search-input {
  border-radius: 6px;
  border: none;
}
.header__search input{
  width: 100%;
  height: 40px;
}

.search-button {
  position: absolute;
  height: 40px;
  width: 40px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #f5bf76;
  top: 6px;
  right: 0;
}
.search-button::after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../images/search-logo.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 10px;
}

.header__ceil-left {
  display: flex;
}
.header__ceil-left .header__ceil-item:not(:last-child) {
  padding: 10px;
  margin-left: 20px;
}
.header__bottom {
  height: 42px;
  background: #232f3e;
}
.lenguage {
  width: 24px;
  height: 17px;
  background: url(../images/flag-usa.png);
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  align-self: center;
} 
.lenguage::after {
  content: "";
  position: absolute;
  top: 16;
  left: 30px;
  border: solid 4px ;
  border-color: lightgrey transparent transparent transparent;
}
.header__right-helo .header__strong-row {
  position: relative;
}
.header__right-helo .header__strong-row::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 102px;
  border: solid 4px ;
  border-color: lightgrey transparent transparent transparent;
}
.header-cart {
  padding: 14px 10px 10px 42px;
  height: 30px;
  background: url(../images/cart.png);
  background-repeat: no-repeat;
  position: relative;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;

}
.header__bottom-nav {
  margin-left: 8px;
}
.sendvich {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: url(../images/burger-big_.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
  right: 20px;
  font-weight: 700;
}

.header__nav-item {
  padding: 6px 8px;
}

.header__bottom-nav {
  display: flex;
}
.header__bottom a{
  color: white;
}
.header__bottom-right {
  padding: 6px 8px;
  margin-right: 10px;
  font-weight: 700;
}

/* hero */

.container {
  max-width: 1500px;
  padding: 0 18px;
  margin: auto;
}
.product-page {
  width: 1500px;
  display: flex;
  justify-content: space-between;
}
.product-slider {
  min-height: 500px;
  border: 1px solid green;
  width: 50%;
}
.product-info {
  width: 30%;
  min-height: 500px;
  border: 1px solid blue;
}
.product-buy {
  width: 20%;
  min-height: 500px;
  border: 1px solid orange;
}
.product-slider {
  position: relative;
  height: 780px;
  overflow: hidden;
  margin: 0 auto;
}
.slider-list {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 350px;
}
.thumb {
  display: block;
}
.slider-item {
  border: 1px solid lightgray;
  border-radius: 2px;
  margin: 2px;
  display: flex;
  justify-self: center;
  align-self: center;
}
.big {
  position: absolute;
  bottom: 0;
  left: -800px;
  transition: top 1s ease;
}
.container a:hover .thumb {
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.container a:hover .big {
  left: 30px;
  bottom: 420px;
}
.featured {
  height: 540px;
  width: 540px;
  left: 390px;
  bottom: 360px;
  z-index: -1;
}



